export OS_PROJECT_DOMAIN_ID=default
export OS_USER_DOMAIN_ID=default
export OS_PROJECT_NAME=admin
export OS_TENANT_NAME=admin
export OS_USERNAME=admin
export OS_PASSWORD={{admin_password}}
export OS_AUTH_URL=http://{{hostvars[inventory_hostname]['ansible_'+pub_int]['ipv4']['netmask']}}:35357/v3
export OS_IDENTITY_API_VERSION=3
